<div class="row">
    <div class="col-md-9 mb-3">
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="refrigerator" name="refrigerator"
                    {% if 'refrigerator' in post and post['refrigerator'] %}checked{% endif %}>
                    <label class="form-check-label" for="refrigerator">
                        冰箱
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="washingMachine" name="washingMachine"
                    {% if 'washingMachine' in post and post['washingMachine'] %}checked{% endif %}>
                    <label class="form-check-label" for="washingMachine">
                        洗衣機
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="TV" name="TV"
                    {% if 'TV' in post and post['TV'] %}checked{% endif %}>
                    <label class="form-check-label" for="TV">
                        電視
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="airConditioner" name="airConditioner"
                    {% if 'airConditioner' in post and post['airConditioner'] %}checked{% endif %}>
                    <label class="form-check-label" for="airConditioner">
                        冷氣機
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="waterHeater" name="waterHeater"
                    {% if 'waterHeater' in post and post['waterHeater'] %}checked{% endif %}>
                    <label class="form-check-label" for="waterHeater">
                        熱水器
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="bed" name="bed"
                    {% if 'bed' in post and post['bed'] %}checked{% endif %}>
                    <label class="form-check-label" for="bed">
                        床
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="closet" name="closet"
                    {% if 'closet' in post and post['closet'] %}checked{% endif %}>
                    <label class="form-check-label" for="closet">
                        衣櫃
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="paidTVChannel" name="paidTVChannel"
                    {% if 'paidTVChannel' in post and post['paidTVChannel'] %}checked{% endif %}>
                    <label class="form-check-label" for="paidTVChannel">
                        第四台
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="internet" name="internet"
                    {% if 'internet' in post and post['internet'] %}checked{% endif %}>
                    <label class="form-check-label" for="internet">
                        網路
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gas" name="gas"
                    {% if 'gas' in post and post['gas'] %}checked{% endif %}>
                    <label class="form-check-label" for="gas">
                        天然氣
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sofa" name="sofa"
                    {% if 'sofa' in post and post['sofa'] %}checked{% endif %}>
                    <label class="form-check-label" for="sofa">
                        沙發
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="deskChair">
                    <input class="form-check-input" type="checkbox" id="deskChair" name="deskChair"
                    {% if 'deskChair' in post and post['deskChair'] %}checked{% endif %}>
                    <label class="form-check-label" for="deskChair">
                        桌椅
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rent-balcony" name="balcony"
                    {% if 'rent-balcony' in post and post['rent-balcony'] %}checked{% endif %}>
                    <label class="form-check-label" for="rent-balcony">
                        陽台
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="elevator" name="elevator"
                    {% if 'elevator' in post and post['elevator'] %}checked{% endif %}>
                    <label class="form-check-label" for="elevator">
                        電梯
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="parkingSpace" name="parkingSpace"
                    {% if 'parkingSpace' in post and post['parkingSpace'] %}checked{% endif %}>
                    <label class="form-check-label" for="parkingSpace">
                        停車位
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label" for="price">租金(萬)</label>
            <input class="form-control" type="text" id="price" name="price" min="0"
                   value="{{ post['price'] if 'price' in post else '' }}" required>
            <div class="invalid-feedback">
                請輸入數字
            </div>
        </div>
    </div>
</div>
<script>
    function warningNotNumber(input) {
        // 獲取坪數輸入框和錯誤信息元素
        const inputElement = $('#' + input);

        // 監聽坪數輸入框的輸入事件
        inputElement.on('input', function () {
            // 判斷輸入是否為數字
            if (isNaN(inputElement.val())) {
                // 如果不是數字，顯示錯誤信息
                inputElement.addClass('is-invalid');
                // 同時清除輸入框的內容
                inputElement.val('');
            } else {
                // 如果是數字，隱藏錯誤信息
                inputElement.removeClass('is-invalid');
            }
        });
    }

    warningNotNumber("price")
</script>