<hr class="my-4">

<h4 class="mb-3">房屋格局</h4>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label" for="type">選擇型態</label>
            <select class="form-select" id="type" name="type">
                <option value="住宅">住宅</option>
                {% if postType == 'rent' %}
                    <option value="獨立套房">獨立套房</option>
                    <option value="分租套房">分租套房</option>
                    <option value="雅房">雅房</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label" for="twPing">輸入坪數</label>
            <input type="text" class="form-control" id="twPing" name="twPing" min="0" required>
            <div class="invalid-feedback">
                請輸入數字
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label" for="floor">輸入樓層</label>
            <input type="text" class="form-control" id="floor" name="floor" min="0" required>
            <div class="invalid-feedback">
                請輸入數字
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <label for="bedRoom" class="input-group-text">房數：</label>
            <input type="number" id="bedRoom" class="form-control" name="bedRoom" min="0" required>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <label for="livingRoom" class="input-group-text">廳數：</label>
            <input type="number" id="livingRoom" class="form-control" name="livingRoom" min="0" required>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <label for="restRoom" class="input-group-text">衛浴：</label>
            <input type="number" id="restRoom" class="form-control" name="restRoom" min="0" required>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="input-group">
            <label for="balcony" class="input-group-text">陽台：</label>
            <input type="number" id="balcony" class="form-control" name="balcony" min="0" required>
        </div>
    </div>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="lived" name="lived">
    <label class="form-check-label" for="lived">
        是否住過
    </label>
</div>

<script>
    function warningNotNumber(input) {
        // 獲取坪數輸入框和錯誤信息元素
        const inputElement = $('#' + input);

        // 監聽坪數輸入框的輸入事件
        inputElement.on('input', function () {
            // 判斷輸入是否為數字
            if (isNaN(inputElement.val())) {
                // 如果不是數字，顯示錯誤信息
                inputElement.addClass('is-invalid');
                // 同時清除輸入框的內容
                inputElement.val('');
            } else {
                // 如果是數字，隱藏錯誤信息
                inputElement.removeClass('is-invalid');
            }
        });
    }

    warningNotNumber("twPing");
    warningNotNumber("floor");
</script>