<div class="row">
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="houseType">選擇房屋型態</label>
            <select class="form-select" id="houseType" name="houseType">
                <option value='電梯大樓'>電梯大樓</option>
                <option value='公寓'>公寓</option>
                <option value='透天厝'>透天厝</option>
                <option value='別墅'>別墅</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="pricePerTwPing">每坪價格(萬)</label>
            <input type="text" class="form-control" id="pricePerTwPing" name="pricePerTwPing" min="0" required>
            <small class="text-danger d-none" id="pricePerTwPingError">請輸入數字</small>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="price">總價(萬)</label>
            <input type="text" class="form-control" id="price" name="price" min="0" required>
            <small class="text-danger d-none" id="priceError">請輸入數字</small>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="age">屋齡(年)</label>
            <input type="text" class="form-control" id="age" name="age" min="1" required>
            <small class="text-danger d-none" id="ageError">請輸入數字</small>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="ratioOfPublicArea">公設比(%)</label>
            <input type="text" class="form-control" id="ratioOfPublicArea" name="ratioOfPublicArea" min="0"
                   required>
            <small class="text-danger d-none" id="ratioOfPublicAreaError">請輸入數字</small>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="form-group">
            <label for="houseName">社區名稱</label>
            <input type="text" class="form-control" id="houseName" name="houseName" required>
            <small class="text-danger d-none" id="houseName">請輸入社區名稱</small>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function warning_not_number(input) {
            // 獲取坪數輸入框和錯誤信息元素
            const inputElement = document.getElementById(input);
            const inputErrorElement = document.getElementById(input + "Error");

            // 監聽坪數輸入框的輸入事件
            inputElement.addEventListener('input', () => {
                // 判斷輸入是否為數字
                if (isNaN(inputElement.value)) {
                    // 如果不是數字，顯示錯誤信息
                    inputErrorElement.classList.remove('d-none');
                    // 同時清除輸入框的內容
                    inputElement.value = '';
                } else {
                    // 如果是數字，隱藏錯誤信息
                    inputErrorElement.classList.add('d-none');
                }
            });
        }

        warning_not_number("price")
        warning_not_number("pricePerTwPing")
        warning_not_number("ratioOfPublicArea")
        warning_not_number("age")
    });
</script>