<div class="row gy-3">
    <div class="col-md-3">
        <label for="class" class="form-label">選擇刊登方案：</label>
        <select class="form-select" id="class" name="class">
            <option value='1'>黃金</option>
            <option value='2'>白金</option>
            <option value='3'>鑽石</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="cardNumber" class="form-label">輸入信用卡卡號：</label>
        <input type="text" class="form-control" id="cardNumber" name="cardNumber" pattern="^[0-9]*$" required>
        <div class="invalid-feedback">
            你必須輸入信用卡卡號
        </div>
    </div>

    <div class="col-md-3">
        <label for="expDate" class="form-label">輸入到期日：(mm/yy)</label>
        <input type="text" class="form-control" id="expDate" name="expDate" pattern="^\d\d/\d\d$" required>
        <div class="invalid-feedback">
            到期日需填寫
        </div>
    </div>

    <div class="col-md-3">
        <label for="month" class="form-label">刊登時間(月)</label>
        <input type="number" class="form-control" id="month" name="month" required>
        <div class="invalid-feedback">
            刊登時間需填寫
        </div>
    </div>
</div>