<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center mb-4">選擇消費方案</h1>
            <div class="row">
                <label for="class">選擇付款型態</label>
                <select class="form-control" id="class" name="class">
                    <option value='1'>黃金</option>
                    <option value='2'>白金</option>
                    <option value='3'>鑽石</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="text-center mb-4">輸入付款資訊</h1>
            <label for="cardNumber">輸入信用卡卡號：</label>
            <input type="text" id="cardNumber" name="cardNumber" pattern="^[0-9]*$" required>
            <label for="expDate">輸入信用卡到期日：(mm/yy)</label>
            <input type="text" id="expDate" name="expDate" pattern="^\d\d/\d\d$" required>
        </div>
        <div class="col-md-3">
            <h1 class="text-center mb-4">輸入刊登時間</h1>
            <label for="month">刊登時間(月)</label>
            <input type="number" id="month" name="month" required>
        </div>
    </div>
</div>