<h4 class="mb-3">房屋地址</h4>

<div class="input-group mb-3">
    <label for="address" class="input-group-text">房屋地址：</label>
    <input class="form-control" type="text" id="address" name="address" required>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <label for="city" class="input-group-text">選擇縣市：</label>
            <select class="form-select" id="city" name="city">
                <option value="台北市">台北市</option>
                <option value="新北市">新北市</option>
                <option value="桃園市">桃園市</option>
                <option value="新竹市">新竹市</option>
                <option value="新竹縣">新竹縣</option>
                <option value="宜蘭縣">宜蘭縣</option>
                <option value="基隆市">基隆市</option>
                <option value="台中市">台中市</option>
                <option value="彰化縣">彰化縣</option>
                <option value="雲林縣">雲林縣</option>
                <option value="苗栗縣">苗栗縣</option>
                <option value="南投縣">南投縣</option>
                <option value="高雄市">高雄市</option>
                <option value="台南市">台南市</option>
                <option value="嘉義市">嘉義市</option>
                <option value="屏東縣">屏東縣</option>
                <option value="台東縣">台東縣</option>
                <option value="花蓮縣">花蓮縣</option>
                <option value="澎湖縣">澎湖縣</option>
                <option value="金門縣">金門縣</option>
                <option value="連江縣">連江縣</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <label for="district" class="input-group-text">所在地區：</label>
            <input class="form-control" type="text" id="district" name="district" required>
        </div>
    </div>
</div>

{% include './add_post/house.html' %}

<hr class="my-4">

<h4 class="mb-3">房屋資訊</h4>

{% if postType == 'sell' %}
    {% include './add_post/house_sell.html' %}
{% elif postType == 'rent' %}
    {% include './add_post/house_rent.html' %}
{% endif %}

<hr class="my-4">

<h4 class="mb-3">聯絡資訊</h4>

<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <label for="name" class="input-group-text">負責人：</label>
            <input class="form-control" type="text" id="name" name="name" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <label for="phone" class="input-group-text">聯絡電話：</label>
            <input class="form-control" type="text" id="phone" name="phone" pattern="09[0-9]{8}" required>
        </div>
        <div id="phoneError"></div>
    </div>
</div>

<hr class="my-4">

<h4 class="mb-3">貼文</h4>

<div class="input-group mb-3">
    <label class="input-group-text" for="title">貼文標題：</label>
    <input type="text" class="form-control" id="title" name="title" required>
</div>

<div class="my-3 row">
    <div class="col">
        <div class="input-group">
            <label for="description" class="input-group-text">輸入內容：</label>
            <textarea class="form-control" id="description" name="description" rows="4" cols="50" required>
            </textarea>
        </div>
    </div>
</div>

<script>
    function checkPhoneNumber(phoneNumber) {
        const phonePattern = /^09\d{8}$/; // 手機號碼格式
        const phoneError = document.getElementById("phoneError");
        if (phonePattern.test(phoneNumber)) {
            // 格式正確，清除錯誤訊息
            phoneError.innerHTML = "";
        } else {
            // 格式錯誤，顯示錯誤訊息
            phoneError.innerHTML = "請輸入正確的手機號碼格式(例如:0912345678)";
        }
    }
</script>