<section class="container py-5">
    {% if post %}
        <h5 class="title fw-bold">{{ post['title'] }}</h5>
        <div class="row align-items-stretch">
            <div class="col-lg-6">
                <img src="{{ post['image'] }}" class="img-fluid " alt="圖片無法顯示">
            </div>
            <div class="col-lg-6 px-5">
                <div class="h-100 py-1">
                    <div class="row border-bottom border-1">
                        <div class="col">
                            <span style="font-weight: bold; color: red; font-size: 40px">{{ post['price'] }}</span>
                            <span>元/月</span>
                        </div>
                    </div>

                    <div class="row border-bottom border-1 p-2">
                        <div class="col-8 mb-2">
                            <div class="row text-muted">格局</div>
                            <div class="row">
                                {{ post['bedRoom'] }}房
                                {{ post['livingRoom'] }}廳
                                {{ post['restRoom'] }}衛
                                {{ post['balcony'] }}陽台
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <div class="row text-muted">坪數</div>
                            <div class="row">
                                {{ post['twPing'] }}坪
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-md-4 col-6 text-muted">樓層</div>
                        <div class="col-md-8 col-6">
                            {{ post['floor'] }}{% if post['floor'].isdigit() %}F{% endif %}</div>
                    </div>

                    <div class="row border-bottom border-1 pb-2">
                        <div class="col-md-4 col-6 text-muted">地址</div>
                        <div class="col-md-8 col-6">{{ post['city'] }}{{ post['district'] }}{{ post['address'] }}</div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-4 col-6 text-muted">負責人</div>
                        <div class="col-md-8 col-6">{{ post['name'] }}</div>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-warning fw-bold" type="button">{{ post['phone'] }}</button>
                    </div>
                </div>
            </div>
            <div class="container my-5 p-5">
                <div class="row">
                    <div class="col-2 text-muted">房屋介紹:</div>
                    <div class="col-10">
                        {% if post['description'] == 0 %}
                            目前沒有任何描述
                        {% else %}
                            {{ post['description'] }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-muted">提供設施:</div>
                    <div class="col-10">{% include './sell_info/service_info.html' %}</div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container bg-secondary">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">這裡空空如也</h1>
                <p class="lead">
                    目前沒有任何資料，你可以發布第一個房子
                </p>
            </div>
        </div>
    {% endif %}
</section>