<div class="modal fade" id="modal-signup" data-bs-backdrop="static" aria-hidden="true"
     aria-labelledby="modal-signin-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2" id="modal-signin-label">免費註冊</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form action="/signup" id="signup-form">
                    <input type="hidden" name="method" value="signup">

                    <label for="signin-name" class="form-label">用戶名</label>
                    <div class="input-group mb-3">
                        <input type="text" name="name" class="form-control shadow-none" id="signin-name" required>
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                    </div>

                    <label for="signin-email" class="form-label">電子信箱</label>
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control shadow-none" id="signin-email" required>
                        <span class="input-group-text">
                            <i class="bi bi-envelope"></i>
                        </span>
                    </div>

                    <hr class="my-4">

                    <label for="signin-password" class="form-label">密碼</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="check-password form-control shadow-none"
                               id="signin-password" minlength="8" autocomplete="off" required>
                        <span class="input-group-text rounded-end">
                            <i class="bi bi-eye-slash toggle-password" id="toggle-password"></i>
                        </span>
                        <div class="invalid-feedback">
                            <ul>
                                <li class="requirements my-1 leng">
                                    <i class="bi bi-x-circle red-text"></i>
                                    你的密碼至少需要 8 字元長度
                                </li>
                                <li class="requirements my-1 big-letter">
                                    <i class="bi bi-x-circle red-text"></i>
                                    你的密碼至少需要 1 大寫字母
                                </li>
                                <li class="requirements my-1 num">
                                    <i class="bi bi-x-circle red-text"></i>
                                    你的密碼至少需要 1 個數字
                                </li>
                                <li class="requirements my-1 special-char">
                                    <i class="bi bi-x-circle red-text"></i>
                                    你的密碼至少需要 1 特殊非英文數字的字元
                                </li>
                            </ul>
                        </div>
                    </div>

                    <label for="signin-password-confirm" class="form-label">確認密碼</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="check-password-confirm form-control shadow-none"
                               id="signin-password-confirm" minlength="8" autocomplete="off" required>
                        <span class="input-group-text rounded-end">
                            <i class="bi bi-eye-slash toggle-password-confirm" id="toggle-password-confirm"></i>
                        </span>
                        <div class="invalid-feedback">
                            你需要輸入一致或者有效密碼
                        </div>
                    </div>

                    <div class="form-check my-2 d-flex align-items-center">
                        <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault"
                               data-bs-toggle="modal" data-bs-target="#modal-policy" required>
                        <label class="form-check-label ps-2 mb-0" for="flexCheckDefault">
                            我同意使用者條款
                        </label>
                    </div>

                    <button class="check-password-submit w-100 my-2 btn btn-lg rounded-3 btn-secondary disabled"
                            type="submit">
                        註冊
                    </button>
                    <hr class="my-4">
                    <p>
                        <small class="text-muted">已經註冊?
                            <a class="border-secondary" data-bs-toggle="modal" data-bs-target="#modal-login">
                                登入
                            </a>
                        </small>
                    </p>
                    <p class="mt-1">
                        <small class="text-muted">當你按下註冊, 代表你同意
                            <a class="border-secondary" data-bs-toggle="modal" data-bs-target="#modal-policy">
                                使用者權條款
                            </a> .
                        </small>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#signup-form").submit(function (event) {
            event.preventDefault(); // 防止表單自動提交

            const formData = $(this).serialize(); // 取得表單資料

            $.ajax({
                type: "POST",
                url: "/signup",
                data: formData,
                success: function () {
                    location.reload();
                },
                error: function () {
                    // 註冊失敗時顯示錯誤訊息
                    alert("註冊失敗");
                }
            });
        });
    });
</script>