<section class="container p-5">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">刊登費用</h1>
        <p class="fs-5 text-body-secondary">
            我們保證我們價格讓你滿意
        </p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
                <div class="card-header py-3 text-bg-warning border-warning">
                    <h4 class="my-0 fw-normal">黃金</h4>
                </div>
                <div class="card-body mt-4">
                    <h1 class="card-title pricing-card-title">300<small
                            class="text-body-secondary fw-light">元/月</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>基礎方案</li>
                        <li>可以刊登聯絡資訊</li>
                        <li>普通評價系統</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                <div class="card-header py-3 text-bg-secondary border-secondary">
                    <h4 class="my-0 fw-normal">鑽石</h4>
                </div>
                <div class="card-body mt-4">
                    <h1 class="card-title pricing-card-title">400<small
                            class="text-body-secondary fw-light">元/月</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>包含所有黃金方案</li>
                        <li>新增留言回覆區</li>
                        <li>專屬評價系統</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">鑽石</h4>
                </div>
                <div class="card-body mt-4">
                    <h1 class="card-title pricing-card-title">500<small
                            class="text-body-secondary fw-light">元/月</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>包含所有白金方案</li>
                        <li>高搜尋優先度</li>
                        <li>廣告推送</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-6 text-center mb-4">比較方案</h2>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
            <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">黃金</th>
                <th style="width: 22%;">白金</th>
                <th style="width: 22%;">鑽石</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="text-start">刊登圖片</th>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">聯絡資訊</th>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th scope="row" class="text-start">回覆區</th>
                <td>
                    <i class="bi bi-x-circle text-danger"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">廣告推放</th>
                <td>
                    <i class="bi bi-x-circle text-danger"></i></td>
                <td>
                    <i class="bi bi-x-circle text-danger"></i>
                </td>
                <td>
                    <i class="bi bi-check-circle"></i>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">評價系統</th>
                <td>
                    預設
                </td>
                <td>
                    可訂製
                </td>
                <td>
                    可訂製
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">搜尋排序</th>
                <td>
                    後
                </td>
                <td>
                    中
                </td>
                <td>
                    前
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>