<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">格局</h5>
        <div>
            <label>
                <input class="form-check-input" type="checkbox" name="pattern" value="=1" id="pattern_option1"> 1 房
            </label>
            <label>
                <input class="form-check-input" type="checkbox" name="pattern" value="=2" id="pattern_option2"> 2 房
            </label>
            <label>
                <input class="form-check-input" type="checkbox" name="pattern" value="=3" id="pattern_option3"> 3 房
            </label>
            <label>
                <input class="form-check-input" type="checkbox" name="pattern" value=">=4" id="pattern_option4"> 4 房 以上
            </label>
        </div>
        <h5 class="card-title">型態</h5>
        <div>
            <label>
                <input type="checkbox" name="houseType" value="公寓" id="houseType_option1"> 公寓
            </label>
            <label>
                <input type="checkbox" name="houseType" value="電梯大樓" id="houseType_option2"> 電梯大樓
            </label>
            <label>
                <input type="checkbox" name="houseType" value="透天厝" id="houseType_option3"> 透天厝
            </label>
            <label>
                <input type="checkbox" name="houseType" value="別墅" id="houseType_option4"> 別墅
            </label>
        </div>
        <h5 class="card-title">售價</h5>
        <div>
            <label>
                <input type="checkbox" name="price" value="< 1000" id="price_option1"> 1000萬以下
            </label>
            <label>
                <input type="checkbox" name="price" value="BETWEEN 1000 AND 2000" id="price_option2"> 1000-2000萬
            </label>
            <label>
                <input type="checkbox" name="price" value="BETWEEN 2000.1 AND 3000" id="price_option3"> 2000-3000萬
            </label>
            <label>
                <input type="checkbox" name="price" value="BETWEEN 3000.1 AND 4000" id="price_option4"> 3000-4000萬
            </label>
            <label>
                <input type="checkbox" name="price" value="BETWEEN 4000.1 AND 5000" id="price_option5"> 4000-5000萬
            </label>
            <label>
                <input type="checkbox" name="price" value="BETWEEN 5000.1 AND 6000" id="price_option6"> 5000-6000萬
            </label>
            <label>
                <input type="checkbox" name="price" value=">6000" id="price_option7"> 6000萬以上
            </label>

            <h5 class="card-title">權狀</h5>
            <div>
                <label>
                    <input type="checkbox" name="twPing" value="< 20" id="twPing_option1"> 20坪以下
                </label>
                <label>
                    <input type="checkbox" name="twPing" value="BETWEEN 20 AND 30" id="twPing_option2"> 20坪-30坪
                </label>
                <label>
                    <input type="checkbox" name="twPing" value="BETWEEN 30.1 AND 40" id="twPing_option3"> 30坪-40坪
                </label>
                <label>
                    <input type="checkbox" name="twPing" value="BETWEEN 40.1 AND 50" id="twPing_option4"> 40坪-50坪
                </label>
                <label>
                    <input type="checkbox" name="twPing" value="> 50" id="twPing_option5"> 50坪以上
                </label>
            </div>

            <h5 class="card-title">屋齡</h5>
            <div>
                <label>
                    <input type="checkbox" name="age" value="< 5" id="age_option1"> 5年以下
                </label>
                <label>
                    <input type="checkbox" name="age" value="BETWEEN 5.1 AND 10" id="age_option2"> 5-10年
                </label>
                <label>
                    <input type="checkbox" name="age" value="BETWEEN 10.1 AND 15" id="age_option3"> 10-15年
                </label>
                <label>
                    <input type="checkbox" name="age" value="BETWEEN 15.1 AND 20" id="age_option4"> 15-20年
                </label>
                <label>
                    <input type="checkbox" name="age" value="> 20" id="age_option5"> 20年以上
                </label>
            </div>
            <h5 class="card-title">自己的貼文</h5>
            <div>
                <label>
                    <input type="checkbox" name="myPost" value="1" id="myPost_option1"> 我的貼文
                    <input type="checkbox" name="myPost" value="0" id="myPost_option2"> 其他人的貼文
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    function filter(filter_name, defaults) {
        const filterOptions = document.querySelectorAll('input[name="' + filter_name + '"]');
        filterOptions.forEach((option) => {
            option.checked = localStorage.getItem(option.id) === "true";
            option.addEventListener("change", (event) => {
                let selectedFilter;
                if (event.target.checked) {
                    filterOptions.forEach((option) => {
                        if (option !== event.target && option.checked) {
                            option.checked = false;
                            localStorage.setItem(option.id, 'false');
                        }
                    });
                    localStorage.setItem(event.target.id, 'true');
                    selectedFilter = event.target.value;
                } else {
                    localStorage.setItem(event.target.id, 'false');
                    selectedFilter = defaults;
                }
                const obj = {};
                obj[filter_name] = selectedFilter
                $.ajax({
                    type: 'POST',
                    url: '/update/' + filter_name,
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(obj),
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    }

    filter("pattern", ">=0")
    filter("houseType", "All")
    filter("price", ">=0")
    filter("twPing", ">=0")
    filter("age", ">=0")
    filter("myPost", "All")
</script>