<div class="modal modal-xl fade" id="modal-declaimer" data-bs-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="modal-declaimer-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2" id="modal-declaimer-title">免責聲明</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="px-5" id="declaimer-dialog">
                    <h4>
                        當您成為WNW房屋交易網(以下稱「本網站」)的用戶後，即表示你已詳細閱讀及明確瞭解本網站之服務條款、隱私權保護政策，並同意在下列情況時本網站毋需承擔任何責任：
                    </h4>
                    <ul>
                        <li class="mb-2">
                            A、您使用本服務之風險由您個人負擔。用戶同意使用「本網站」各項服務系基於用戶的個人意願，並同意自負任何風險，包括因為自「本網站」下載資料或圖片，或自「本網站」服務中獲得之資料導致發生任何資源流失等結果。
                        </li>
                        <li class="mb-2">
                            B、「本網站」就各項服務，不負任何明示或默示之擔保責任。「本網站」不保證各項服務之穩定、安全、無誤、及不中斷；用戶明示承擔使用本服務之所有風險及可能致生之任何損害。
                        </li>
                        <li class="mb-2">
                            C、用戶在「本網站」上填寫的個人資料、物件資訊、上傳照片等行為，純屬用戶個人行為，「本網站」對其內容之真實性或完整性不負有任何責任。
                        </li>
                        <li class="mb-2">
                            D、對於透過「本網站」銷售/出租之物件或其他服務，「本網站」對其交易過程及物件/服務本身，均不負任何瑕疵擔保責任。用戶瞭解您透過「本網站」所購得/承租之物件或服務，完全由物件或服務提供人負全責，若有任何瑕疵或擔保責任，均與「本網站」無關。
                        </li>
                        <li class="mb-2">
                            E、「本網站」僅收取會員之廣告刊登費為用戶使用本站交易平台及本站客服在有限的範圍內協調交易等費用，不包含交易擔保費用。
                        </li>
                        <li class="mb-2">
                            F、由於與本網站連結的其他網站所造成之個人資料洩露及由此而導致的任何法律爭議和後果均與「本網站」無關。
                        </li>
                        <li class="mb-2">
                            G、「本網站」上刊登的個人廣告、商業廣告及各種商品的促銷資訊，除非屬於本站所自行出售，其內容均係由該個人、廣告商或商品、服務提供人所為，因此產生的糾紛本網站概不負責，「本網站」僅係提供刊登的媒介。
                        </li>
                        <li class="mb-2">
                            H、「本網站」服務受限於用戶之介接電路或網際網路頻寬及用戶終端設備之品質等因素之影響而有所差異，用戶應確保其自行租用之專線電路、寬頻上網之電路或網路或電話電路等正常運作。用戶同意「本網站」無須對電路及網路之連接品質或傳輸速率等、用戶所擷取資訊資源之正確性與完整及用戶主機運算效能等負責，「本網站」亦毋庸因上開任何因素直接或間接所致「本網站」服務無法使用負任何責任。用戶之系統如發生遭第三人經由網際網路入侵、破壞或擷取其資料等侵害情形，因此所生直接或間接之損失，「本網站」不負賠償責任。
                        </li>
                        <li class="mb-2">
                            I、如遇電信事業系統發生障礙，「本網站」將依電信事業官方公告之服務層級協議協助用戶儘速排除障礙。如因系統或設備障礙、阻斷等情形，以致發生錯誤、遲滯、中斷或不能傳遞而無法提供「本網站」服務造成損害時，其所生之損害，除按電信事業官方公告外，「本網站」不負任何損害賠償責任。任何非「本網站」提供之第三方軟體服務異常而造成「本網站」服務中斷時，「本網站」均毋庸負任何責任。
                        </li>
                        <li class="mb-2">
                            J、在無可避免的主機維修、升級、更新、無法控制的因素，及需要重新提供「本網站」服務內容，「本網站」均依電信事業官方所提供之訊息，於暫停主機運作前，通知用戶並協助用戶保持服務之正常情形。暫停服務期間或因必要之測試檢修，而造成不能正常運行時，
                        </li>
                        <li class="mb-2">
                            K、對於用戶透過「本網站」發佈虛假資訊、及欺騙、敲詐行為者，純屬用戶個人行為，「本網站」對因此而產生的一切糾紛不負有任何責任！特此申明！
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal-footer px-5">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
                    返回
                </button>
            </div>
        </div>
    </div>
</div>