<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="refrigerator" name="refrigerator">
                        <label class="form-check-label" for="refrigerator">
                            冰箱
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="washingMachine" name="washingMachine">
                        <label class="form-check-label" for="washingMachine">
                            洗衣機
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="TV" name="TV">
                        <label class="form-check-label" for="TV">
                            電視
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="airConditioner" name="airConditioner">
                        <label class="form-check-label" for="airConditioner">
                            冷氣機
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="waterHeater" name="waterHeater">
                        <label class="form-check-label" for="waterHeater">
                            熱水器
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="bed" name="bed">
                        <label class="form-check-label" for="bed">
                            床
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="closet" name="closet">
                        <label class="form-check-label" for="closet">
                            衣櫃
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="paidTVChannel" name="paidTVChannel">
                        <label class="form-check-label" for="paidTVChannel">
                            第四台
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="internet" name="internet">
                        <label class="form-check-label" for="internet">
                            網路
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gas" name="gas">
                        <label class="form-check-label" for="gas">
                            天然氣
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="sofa" name="sofa">
                        <label class="form-check-label" for="sofa">
                            沙發
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="deskChair">
                        <input class="form-check-input" type="checkbox" id="deskChair" name="deskChair">
                        <label class="form-check-label" for="deskChair">
                            桌椅
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="balcony" name="balcony">
                        <label class="form-check-label" for="balcony">
                            陽台
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="elevator" name="elevator">
                        <label class="form-check-label" for="elevator">
                            電梯
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="parkingSpace" name="parkingSpace">
                        <label class="form-check-label" for="parkingSpace">
                            停車位
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="text-center mb-4">每月租金</h1>
            <div class="form-group">
                <label for="price">租金(萬)</label>
                <input type="text" class="form-control" id="price" name="price" min="0"  >
                <small class="text-danger d-none" id="priceError">請輸入數字</small>
            </div>
        </div>
    </div>
</div>

<script>
    function warning_not_number(input) {
        // 獲取坪數輸入框和錯誤信息元素
        const inputElement = document.getElementById(input);
        const inputErrorElement = document.getElementById(input + "Error");

        // 監聽坪數輸入框的輸入事件
        inputElement.addEventListener('input', () => {
            // 判斷輸入是否為數字
            if (isNaN(inputElement.value)) {
                // 如果不是數字，顯示錯誤信息
                inputErrorElement.classList.remove('d-none');
                // 同時清除輸入框的內容
                inputElement.value = '';
            } else {
                // 如果是數字，隱藏錯誤信息
                inputErrorElement.classList.add('d-none');
            }
        });
    }
    warning_not_number("price")
</script>