<nav class="container py-2">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="../../static/images/icon/icon.png" height="60" alt="icon">
            <img src="../../static/images/icon/name.png" height="60" alt="WNW">
        </a>

        <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('index') }}" class="nav-link px-2 ">首頁</a></li>
            <li><a href="{{ url_for('sell') }}" class="nav-link px-2 ">買屋</a></li>
            <li><a href="{{ url_for('rentals') }}" class="nav-link px-2">租屋</a></li>
            {% if session['login_status'] == 1%}
            <li><a href="{{ url_for('myPost') }}" class="nav-link px-2 link-secondary">我的貼文</a></li>
            {% endif%}
        </ul>

        <div class="text-end">
            {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modal-logout">登出
                </button>
            {% else %}
                <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal"
                        data-bs-target="#modal-login">登入
                </button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modal-signup">註冊
                </button>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    function updateDropdown(selectedRegion) {
        $.ajax({
            type: 'POST',
            url: '/update/region',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({region: selectedRegion}),
            success: function () {
                window.location.reload();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

{% include './login/login_form.html' %}

{% include './login/signup_form.html' %}

{% include './login/logout_form.html' %}

{% include './login/policy.html' %}